<h1>Welcome to Work_nest app</h1>
<% if venue_admin_signed_in? %>
  <p>Logged in as <%= current_venue_admin.email %></p>
  <%= link_to 'Logout', destroy_venue_admin_session_path, method: :delete %>
<% end %>
