<%= form_with url: search_venues_path, data: {turbo: false} do |f| %>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="actions">
    <%= f.submit 'Search' %>
  </div>
<% end %>