<% if @offers.present? %>
  <% @offers.each do |offer| %>
    <div>
      <h2><%= offer.title %></h2>
      <p><%= offer.description %></p>
      <p>Price: $<%= offer.price %></p>
    </div>
  <% end %>
<% else %>
  <p>No offers available.</p>
<% end %>
