<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="container">
    <div class="mb-3">
      <label for="InputEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <input type="password" class="form-control" id="Password">
    </div>

    <div class="mb-3">
      <label for="PasswordConfirmation" class="form-label">Password Confirmation</label>
      <input type="password" class="form-control" id="PasswordConfirmation" autocomplete="off">
    </div>

    <div class="mb-3">
      <label for="CompanyName" class="form-label"><h5>Company Name</h5></label>
      <input type="text" class="form-control" id="CompanyName">
    </div>

    <div class="mb-3">
      <%= f.submit "Sign up", class: "btn btn-outline-primary" %>
    </div>
  </div>
<% end %>

<%= render "venue_admins/shared/links" %>
