<header>
  <nav>
    <% if venue_admin_signed_in? %>
      <%= link_to 'Logout', destroy_venue_admin_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign up', new_venue_admin_registration_path %> |
      <%= link_to 'Login', new_venue_admin_session_path %>
    <% end %>
  </nav>
</header>
